@(name: String)
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hello</title>
    </head>
    <body>
        <h2 class="d">First Project Scala</h2>
        <h2> <em>@name</em> </h2>
        <a href="@routes.Employees.list()"> LIST  </a>
        <br/>
        <br/>
        <a href="@routes.Employees.update()"> UPDATE  </a>
        <br/>
        <br/>
        <a href="@routes.Employees.list()"> DELETE  </a>
        <br/>
        <br/>
        <a href="@routes.Employees.list()"> INSERT  </a>
    </body>
</html>